<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucha</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link type="img/logo" rel="shortcut icon" href="/img/logoN.png" sizes="180x180" data-react-helmet="true">
    <link rel="stylesheet" href="/static/ladingPrincipal.css">
</head>
<body>
    <header class="header">
        <div class="header-left">
            <div class="container-header">
                <button class="btn"><i class="arrow"></i>TIPOS</button>
                <div class="dropDown">
                    <a href="/templates/TIPOS DE POKEMON/acero.html">ACERO</a>
                    <a href="/templates/TIPOS DE POKEMON/agua.html">AGUA</a>
                    <a href="/templates/TIPOS DE POKEMON/bicho.html">BICHO</a>
                    <a href="/templates/TIPOS DE POKEMON/dragon.html">DRAGON</a>
                    <a href="/templates/TIPOS DE POKEMON/electrico.html">ELECTRICO</a>
                    <a href="/templates/TIPOS DE POKEMON/fantasma.html">FANTASMA</a>
                    <a href="/templates/TIPOS DE POKEMON/fuego.html">FUEGO</a>
                    <a href="/templates/TIPOS DE POKEMON/hada.html">HADA</a>
                    <a href="/templates/TIPOS DE POKEMON/hielo.html">HIELO</a>
                    <a href="/templates/TIPOS DE POKEMON/lucha.html">LUCHA</a>
                    <a href="/templates/TIPOS DE POKEMON/normal.html">NORMAL</a>
                    <a href="/templates/TIPOS DE POKEMON/planta.html">PLANTA</a>
                    <a href="/templates/TIPOS DE POKEMON/psiquico.html">PSIQUICO</a>
                    <a href="/templates/TIPOS DE POKEMON/roca.html">ROCA</a>
                    <a href="/templates/TIPOS DE POKEMON/siniestro.html">SINIESTRO</a>
                    <a href="/templates/TIPOS DE POKEMON/tierra.html">TIERRA</a>
                    <a href="/templates/TIPOS DE POKEMON/veneno.html">VENENO</a>
                    <a href="/templates/TIPOS DE POKEMON/volador.html">VOLADOR</a>
                </div>
            </div>
        </div>

        <div class="header-center">
            <a href="/templates/ladingPrincipal.html">
                <img src="/img/pokedex-removebg-preview.png" alt="logo" class="logo">
            </a>
        </div>

        <div class="header-right">
            <a href="https://wa.me/573011907952">
                <button class="btn">CONTACTENOS</button>
            </a>
        </div>
    </header>

    <div class="header-spacer"></div>
    
    <div class="category-container" id="tipo-lucha">
        <h2>Tipo Lucha</h2>
        <div id="fighting-type-container" class="pokemon-list"></div>
    </div>

    <div class="header-spacer"></div>
</body>
<script src="/static/app.js"></script>
</html>