<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roca</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/static/roca.css">
</head>
<body>
    <div class="category-container" id="tipo-roca">
        <h2>Tipo Roca 🪨</h2>
        <a href="/templates/ladingPrincipal.html"><button>Volver</button></a>
        <div id="rock-type-container" class="pokemon-list"></div>
    </div>
</body>
<script src="/static/app.js"></script>
</html>