<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link type="img/logo" rel="shortcut icon" href="/img/pokemon-logo.jpg" sizes="180x180" data-react-helmet="true">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/static/ladingPrincipal.css">
</head>
<body>
    <header class="header">
        <div class="header-left">
            <div class="container-header">
                <button class="btn"><i class="arrow"></i>TIPOS</button>
                <div class="dropDown">
                    <a href="">ACERO</a>
                    <a href="">AGUA</a>
                    <a href="">BICHO</a>
                    <a href="">DRAGON</a>
                    <a href="">ELECTRICO</a>
                    <a href="">FANTASMA</a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href="/templates/TIPOS DE POKEMON/roca.html">ROCA</a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
        </div>

        <div class="header-center">
            <img src="/img/pokedex-removebg-preview.png" alt="" class="logo">
        </div>

        <div class="header-right">
            <a href="https://wa.me/573011907952">
                <button class="btn">CONTACTENOS</button>
            </a>
        </div>
    </header>

    <div class="header-spacer"></div>


        <div class="nube-main">
            <h1>¿Que son los pokemones?</h1>
        </div>

        <div class="main-spacer"></div>
        
        <div class="nube-p">
            <p>Los Pokémon son criaturas ficticias con diferentes formas, tamaños y habilidades que habitan el mundo de la franquicia Pokémon. El nombre Pokémon es una abreviatura de "Monstruos de Bolsillo" (Pocket Monsters), y la franquicia fue creada por Satoshi Tajiri. Los "Entrenadores" los crían, cuidan y entrenan para que se vuelvan más fuertes, aprendan nuevos movimientos y, en muchos casos, evolucionen a formas más poderosas. </p>
        </div>

        <div class="main-spacer"></div>

        <div class="nube-main">
            <h2>Mundo Pokemon</h2>
        </div>

        <ul>
            <li>
                <h3>Regiones 🌍</h3>
                <p>las regiones son...</p>
            </li>
            <li>
                <h3>Elementos clave</h3>
                <ul>
                    <li>
                        <h4>Poke Balls</h4>
                        <p>Las poke ball son...</p>
                    </li>
                </ul>
            </li>
        </ul>
        <h1>Tipos de Pokemon</h1> 
        <p>Los Pokémon son criaturas ficticias, inspiradas en animales reales, insectos, plantas, objetos o seres mitológicos. Viven en un mundo junto a los humanos y poseen habilidades especiales que se manifiestan a través de diferentes "tipos". El concepto central de la franquicia es que los humanos, conocidos como entrenadores, los capturan, entrenan y combaten con ellos para fortalecer sus lazos y poner a prueba su fuerza y sabiduría.</p>
        <p>En el universo Pokémon, existen 18 tipos elementales, los cuales definen las fortalezas, debilidades, resistencias e inmunidades de cada criatura y sus movimientos. Esta tabla de tipos es fundamental para la estrategia de los combates, ya que un movimiento de un tipo puede ser muy efectivo (x2), poco efectivo (x 21), o incluso no tener efecto (x0) contra un Pokémon de otro tipo.</p>
        <p>A continuación, se presenta el concepto completo de cada uno de los 18 tipos de Pokémon:</p>
        <ol>
            <li>
                <b>Tipo Acero</b>: Se asocia a la dureza, la defensa y los metales. Los Pokémon de este tipo suelen tener una gran resistencia física.
            </li>
            <li>
                <b>Tipo Agua</b>: Representa el agua en todas sus formas: ríos, mares, lluvia, etc. Es el tipo más común y versátil.
            </li>
            <li>
                <b>Tipo Bicho</b>: Inspirado en insectos y arácnidos. A menudo son rápidos y pueden aprender movimientos para infligir estados alterados.
            </li>
            <li>
                <b>Tipo Dragon</b>: Representa criaturas poderosas y míticas, a menudo con una gran fuerza y estadísticas equilibradas.
            </li>
            <li>
                <b>Tipo Electrico</b>: Se asocia a la electricidad y la velocidad. Los Pokémon de este tipo son conocidos por su rapidez y ataques especiales.
            </li>
            <li>
                <b>Tipo Fantasma</b>: Relacionado con lo paranormal, espectros y seres del más allá. Pueden atravesar objetos y son inmunes a ciertos ataques.
            </li>
            <li>
                <b>Tipo Fuego</b>: Simboliza el fuego, el calor y la explosividad. Los Pokémon de este tipo a menudo tienen ataques especiales poderosos.
            </li>
            <li>
                <b>Tipo Hada</b>: Un tipo introducido en la sexta generación. Se basa en criaturas de cuentos de hadas y mitología, a menudo con un aspecto dulce o mágico.
            </li>
            <li>
                <b>Tipo Hielo</b>: Representa el frío, la nieve y el hielo. Sus ataques pueden congelar a los oponentes.
            </li>
            <li>
                <a>Tipo Lucha</d>: Basado en las artes marciales y el combate cuerpo a cuerpo. Los Pokémon de este tipo son expertos en ataques físicos.
            </li>
            <li>
                <a>Tipo Normal</a>: Representa lo común y habitual. Los Pokémon de este tipo suelen ser de los primeros en encontrarse y tienen una amplia variedad de movimientos.
            </li>
            <li>
                <a href="">Tipo Planta</a>: Se asocia a la naturaleza, las plantas y los bosques. Pueden aprender movimientos de recuperación y ataques que causan estados alterados.
            </li>
            <li>
                <a>Tipo Psiquico</a>: Relacionado con el poder mental y la telequinesis. Sus ataques especiales son a menudo muy fuertes.
            </li>
            <li>
                <a href="/templates/TIPOS DE POKEMON/roca.html">Tipo Roca</a>: Simboliza las rocas, la piedra y la geología. Son conocidos por su alta defensa física.
            </li>
            <li>
                <a href="">Tipo Siniestro</a>: Introduce un elemento de maldad y oscuridad, a menudo con ataques que explotan las debilidades del oponente.
            </li>
            <li>
                <a href="">Tipo Tierra</a>: Asociado a la tierra, el suelo y los terremotos. Tienen ataques físicos muy potentes.
            </li>
            <li>
                <a href="">Tipo Veneno</a>: Representa el veneno, toxinas y sustancias peligrosas. Sus ataques pueden envenenar y debilitar al oponente con el tiempo.
            </li>
            <li>
                <a href="">Tipo Volador</a>: Se asocia al aire, el viento y las criaturas voladoras. Suelen ser muy rápidos.
            </li>
        </ol>
            
    </main>
</body>
<script src="/static/app.js"></script>
</html>